<div style="margin-top:20px">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <input class="custom-file-upload" accept="image/*" type="file" (change)="showPreviewImage($event)">

      <button class="btn btn-success" *ngIf="localUrl" (click)='uploadImagetoStorageContainer()'>Upload</button>
      <img class="rounded-circle" style="width:10% ;height:10%;" id="bannerImage" [src]="localUrl" *ngIf="localUrl">
    </div>
  </div>
</div>

<div style="padding:30px" class="row" *ngIf="image.length">
  <div class='card'>
    <div class='container' [dragula]='"first-bag"'>
      <div class="gallery  cardImage" *ngFor="let img of image">
        <img class="" [src]="img">
        <button style="margin:5px;" (click)="deleteImage(img)" class="btn btn-danger roundButton">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
