<div class="row">
  <div class="jumbotron" style="padding:20px;">
    <input type="file" (change)="showPreviewImage($event)">
    <img style="width:50% ;height:50%;" id="bannerImage" [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder">

    <button class="btn btn-success" *ngIf="localUrl" (click)='uploadImagetoStorageContainer()'>Upload</button>
  </div>
  <hr>

  <!-- <div class="row ">
      <div  [dragula]='"first-bag"' class="gallery cardImage" *ngFor="let img of image">
        <img [src]="img">
      </div>
    </div> -->
</div>

<div style="padding:30px" class="row">
  <div class='wrapper'>
    <div class='container' [dragula]='"first-bag"'>
      <div class="gallery cardImage" *ngFor="let img of image">
        <img [src]="img">
      </div>
    </div>
    <!-- <div class='container' [dragula]='"first-bag"'>
  
      </div> -->
  </div>
</div>
